# dependencias y build
node_modules/
client/node_modules/
server/node_modules/
dist/
build/
.vite/
client/node_modules/
client/dist/
client/.vite/
.env
.env.local
.env.prod
.env.production
.env.development